@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .plug-gradient {
        background: linear-gradient(94.95deg, #FFE701 -1.41%, #FA51D3 34.12%,
    #10D9ED 70.19%, #52FF53 101.95%);
    }
  }